

body {
  padding: 0; /* Gets rid of the automatic padding */
  margin: 0;  /*  on HTML documents */
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
  font-size: 12px;
  
}

#login {
    background-color: #FFFFCC;
    font-family: Iowan Old Style;
    font-size: 15px;
}

#location{ 
	background-image: url("main.jpg");
	font-family: Iowan Old Style;
    font-size: 15px}


#content-1 { 
float:left;
width:50%;
height:100%; 
padding:1%; 

} 

#content-2-1 { 
margin-left:10px;
float:left; 
width:50%; 
padding:1%; 

} 
